.container {
  display: grid;
}
.heading {
  font-weight: 900;
  font-size: 4vw;
  line-height: 44px;
  color: var(--colorOftext);
  text-align: center;
}
.description {
  width: 80%;
  margin: auto;
  font-weight: 900;
  font-size: 100%;
  line-height: 130%;
  color: var(--colorOftext);
  text-align: center;
}
.ourTeam {
  display: grid;
}
.meet {
  font-weight: 900;
  font-size: 4vw;
  line-height: 44px;
  color: var(--colorOftext);
  text-align: center;
  margin-top: 70px;
}
.supervisor {
  padding-bottom: 20px;
  text-align: center;
}
.supervisorImg {
  display: inline-block;
  content: url("../Assets/OurTeam/Dr-suhel.webp");
  width: 177px;
  height: 313px;
  margin: auto;
}
.supervisorId {
  font-weight: 900;
  font-size: 100%;
  line-height: 30px;
  color: var(--colorOftext);
}
.infoOurTeam {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 80%;
  margin: auto;
}
.person {
  height: 400px;
  margin: auto;
}
.personId {
  font-weight: 900;
  font-size: 100%;
  line-height: 30px;
  color: var(--colorOftext);
  text-align: center;
}
.personImg1 {
  display: inline-block;
  content: url("../Assets/OurTeam/Salman.webp");
  width: 177px;
  height: 313px;
  padding-left: 17%;
}
.personImg2 {
  display: inline-block;
  content: url("../Assets/OurTeam/Sedra.webp");
  width: 177px;
  height: 313px;
  padding-left: 17%;
}
.personImg3 {
  display: inline-block;
  content: url("../Assets/OurTeam/Mohammed.webp");
  width: 177px;
  height: 313px;
  padding-left: 17%;
}
@media (max-width: 1000px) {
  .infoOurTeam {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 80%;
    margin: 20px auto;
  }
}
