.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 65px;
}
.navbarLogo img {
  display: inline-block;
  width: 250px;
  height: 58;
}
.navbarMenu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbarMenu li {
  margin-right: 20px;
  font-size: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  color: var(--colorOftext);
  text-decoration: none;
}
.navbarMenu .link {
  font-size: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  color: var(--colorOftext);
  text-decoration: none;
}
.modeicon {
  display: inline-block;
  padding-top: 5px;
  width: 60px;
  height: 30px;
}
.navbarToggle {
  display: none;
  cursor: pointer;
}
.navbarToggle span {
  display: block;
  height: 3px;
  width: 25px;
  background-color: var(--colorOftext);
  margin-bottom: 5px;
}
.navbarToggleActive span {
  display: block;
  height: 3px;
  width: 25px;
  background-color: var(--colorOftext);
  margin-bottom: 5px;
}
.menuitem {
  display: none;
}
.modeitem {
  display: none;
}
.menuitemtext {
  display: none;
}
.buttonLanguage {
  font-size: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  color: var(--colorOftext);
  text-decoration: none;
  background-color: transparent;
  border: 0px;
}
.buttonMode {
  background-color: transparent;
  border: 0px;
}
.menuitem1 {
  display: flex;
}
.menuitem2 {
  display: flex;
}
.menuitem3 {
  display: flex;
}
.menuitem4 {
  display: flex;
}
@media (min-width: 801px) {
  .navbarMenuactive {
    display: none;
  }
  .menuitem1 {
    display: none;
  }
  .menuitem2 {
    display: none;
  }
  .menuitem3 {
    display: none;
  }
  .menuitem4 {
    display: none;
  }
}
@media (max-width: 800px) {
  .navbarMenu {
    display: none;
  }
  .navbarToggle {
    display: block;
  }

  .navbarToggleActive span:nth-child(2) {
    opacity: 0;
  }
  .navbarToggleActive span:nth-child(1) {
    transform: rotate(45deg) translate(5.5px, 5.5px);
  }
  .navbarToggleActive span:nth-child(3) {
    transform: rotate(-45deg) translate(5.5px, -5.5px);
  }
  .navbarMenuactive img {
    display: flex;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 10px;
  }
  .navbarMenuactive .modeicon {
    display: none;
  }
  .menuitemtext {
    display: flex;
    font-size: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    color: var(--colorOftext);
    text-decoration: none;
  }
  .navbarMenuactive .modeitem {
    display: flex;
    margin-top: 3px;
    margin-right: 10px;
    width: 15px;
    height: 20px;
  }
  .navbarMenuactive {
    display: block;
    position: absolute;
    background-color: var(--coloOfmenu);
    top: 70px;
    left: 0;
    width: 100%;
    height: 170px;
  }
  .navbarMenuactive ul {
    padding-left: 0px;
    flex-direction: column;
  }

  .navbarMenuactive li {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 17px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    color: var(--colorOftext);
    text-decoration: none;
    justify-content: center;
  }
  .navbarMenuactive li .link {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    color: var(--colorOftext);
    text-decoration: none;
  }
  .navbarMenuactive li .style {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    color: var(--colorOftext);
    text-decoration: none;
  }
  .buttonLanguage {
    font-size: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    color: var(--colorOftext);
    text-decoration: none;
    background-color: transparent;
    border: 0px;
    padding: 0px;
  }
}
